html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: #444; /* land color */
}

canvas {
  display: block;
}

#muteBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: rgba(255,255,255,0.8);
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
}
